@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 15px;

}

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-light-gray);

}
p{
    color: var(--Transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 90%;
    line-height: 20px;
    font-weight: 400;
}
h1{
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 230%;
    margin: 25px 0;
}
button{
    background-color: var(--Very-light-gray);
    margin-top: 60px;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}




/* main -------------------------------------- */

main{
    width: 850px;
    display: flex;
    text-align: left;
    padding: 40px;
    
}

/* article ----------------------------------- */

article{
    width: 33.33%;
    height: 400px;
    padding: 35px;
    color: white;
    
}   

article.sedans{
    background-color: var(--Bright-orange);
    border-radius: 10px 0 0 10px;
}

article.suvs{
    background-color: var(--Dark-cyan);
}
article.luxury{
    background-color: var(--Very-dark-cyan);
    border-radius: 0 10px 10px 0;
}
article.sedans span{
    color: var(--Bright-orange);
}

article.suvs span{
    color: var(--Dark-cyan)
}
article.luxury span{
    color: var(--Very-dark-cyan);
}

@media only screen and (max-width: 480px){

    main{
        width: 340px;
        padding: 10px;
        display: block;
        margin: 100px 20px auto 20px;
    }
    main article{
        width: 100%;
        height: 33.33%;
        padding: 35px;
    }
   
    article.sedans{
        border-radius: 10px 10px 0 0;
    }
    article.luxury{
        border-radius: 0 0 10px 10px;
    }
    article{
        font-size: 120%;
    }
    p{
        line-height: 25px;
    }
    button{
        margin-top: 20px;
    }
}